body {
	background-color:#000000;
}

.center {
    width:800px;
    background-color:#ffff00;
    display:table-cell;
    padding: 0;
    border:0;
}

.side {
    width:200px;
    background-color:#008000;
    display:table-cell;
}

.nav {
    margin:0;
    padding:0;
    background-color:#98bf21;
    border-radius: 25px; 
}

.poem {
    font-weight: 570;
    background-image:url('../images/back2.jpg'); 
    margin:auto; 
    width:50%; 
    box-shadow: 10px 10px 5px black; 
    padding: 10px 10px 10px 30px;
}

ul {
    list-style-type:none;
}

li.nav {
    display:table-cell;
    width:150px;
    padding: 0px 0px 5px 0px;
}

a.cycle {
    display:table-cell;
    width: 130px;
    font-weight: bold;
    color: #000000;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
}

a.cycle:hover {
    background-color:#cc6699;
}

a.nav:link, a.nav:visited {
    display:block;
	position:relative;
    width: 130px;
    font-weight:bold;
    color:#000000;
    background-color:#98bf21; 
    text-align:center;
    padding:5px;
    text-decoration:none;
    text-transform:uppercase;
    border: 1px solid black;
    box-shadow: 5px 5px 0px black;
}

a.nav:hover {
    background-color:#00ff00;
}

a.nav:active {
    background-color:#7A991A;
    box-shadow:0px 0px 0px black;
	position:relative;
	top:+5px;
	left:+5px;
}

h1 {
    text-align:center;
    font-weight:bold;
    text-transform:uppercase;
}

h2 {
    text-align:center;
}

.general {
    width:90%; 
    margin:auto; 
    text-align:justify;
}

#pagecenter {
    margin:auto;
    width:950px;
}