body {
  background-color:black;
  font-family:sans-serif;
  }
h1 {
  text-align:center;
  text-transform:uppercase;
 }
h3 {
  text-align:center;
  margin:0px;
  padding:0px;
 }
h4 {
  float:left;
  position:relative;
  left:45px;
  padding:0px;
  margin:2px;
 }
hr {
  clear:both;
  width:80%;
  }
br{
   clear:both; 
 }
ul {
  position:relative;
  left:70px;
  list-style-type:none;
  padding:0px;
  margin:0px;
 }
li {
  display:inline;
  padding:4px;
 }
a {
   color:black;
  }
.main {
   width:800px;
   height:100%;
   margin:auto;
   background-color:#fffff0;
  }
.pic {
  background-image:url('images/portrait.jpeg');
  background-repeat:no-repeat;
  width:145px;
  height:200px;
  border:1px solid;
  margin:20px;
  float:left;
 }
.nav {
  width:600px;
  float:left;
  margin:auto;
 }
.dlink {
  width:100px;
  height:100px;
  background-color:red;
  border:1px solid;
  float:left;
  margin:5px;
  position:relative;
  left:5px;
 }
.data {
  position:relative;
  left:45px;
  padding:0px;
  margin:2px;
  display:inline;
 }
.dlink p{
  text-align:center;
  margin-top:40%;
  font-weight:bold;
 }
#objective {
   position:relative;
   margin:0px;
   padding:0px;
   left:45px;
 }
#contact-info-t {
  display:table;
  margin:auto;
  width:80%;
 }
#contact-info {
  width:700px;
  display:table-row; 
  font-weight:bold;
 }
#tilt {
   -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
   transform: rotate(45deg); /* Standard syntax */ 
  }
#main-title {
   background-color:yellow;
   padding:10px;
  }
#name {
  text-align:left;
  display:table-cell;
  width:30%;
 }
#addr {
  text-align:center;
  display:table-cell;
  width:30%;
 }
#ph {
  text-align:right;
  width:30%;
  display:table-cell;
 }
